.h4{
  min-width: 350px;
}

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
  /**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  #dashboard-info, .mobile-state{
    display: block;
  }
  
  .page-title .h4{
    font-size: 22px;
  }
}

	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  #dashboard-info, #menu{
    display: none;
  }

  .page-title .h4{
    font-size: 20px;
  }

  .overwev-min-width{
    min-width: 329px;
  } 
}


/* Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width : 576px){

  #dashboard-info, .mobile-state{
    display: none;
  }

  #menu{
    visibility: hidden!important;
  }

  main {
    margin-left: 0px;
  }

  .page-title .h4{
    font-size: 18px;
  }

  .overwev-min-width{
    min-width: 329px;
  }  
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .overwev-min-width{
    min-width: 329px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
  .overwev-min-width{
    min-width: 329px;
  }
}

		
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){}



/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px){}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){}



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){}