@import url('https://fonts.googleapis.com/css?family=Jua|Merienda|Satisfy|Sniglet');
@import '~materialize-css/dist/css/materialize.min.css';
@import 'theme/styles.min.css';

body{
  background-color: #fff3ff;
}
.sidenav-overlay{z-index:995;}

.h4{
  min-width: 350px;
  font-family: 'Merienda', cursive, sans-serif;
}

.logo-menu{
  min-width: 150px;
  font-family: 'Merienda', cursive, sans-serif;
  margin-bottom: 44px;
}

.mobile-navbar{
  display: none;
}

.sidenav li>a {
  color: #426c79;
  display: block;
  font-family: 'Satisfy', sans-serif;
  font-size: 19px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.brand-logo{
  color: #426c79;
  font-family: 'Merienda', sans-serif;
}

.page-title h4, .page-subtitle h4{
  color: #00213a;
  font-family: 'Sniglet', cursive;
  font-weight: inherit;
}

.mobile-barra{
  background-color: #426c79;
  font-size: 23px;
}

.analytics-block h5, .average-price p{
  color: #00213a;
  font-family: 'Merienda', sans-serif;
}

.average-price p > strong{
  color: #426c79;;
}
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}
 

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  #dashboard-info, .mobile-state{
    display: block;
  }
  
  .page-title .h4{
    font-size: 22px;
  }

}

	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  #dashboard-info{
    display: none;
  }

  .mobile-navbar, .info-mobile-state{
    display: none;
  }

  .page-title .h4, .material-icons{
    font-size: 20px;
  }

  .overwev-min-width{
    min-width: 329px;
  } 
}


/* Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width : 576px){

  #dashboard-info, .mobile-state, .info-mobile-state{
    display: none;
  }

  main {
    margin-left: 0px;
  }

  .mobile-navbar{
    display: block;
  }
  
  .page-title .h4, .material-icons{
    font-size: 18px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .overwev-min-width{
    min-width: 329px;
  }

  .mobile-navbar{
    display: block;
  }

  .info-mobile-state{
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
  .overwev-min-width{
    min-width: 329px;
  }

  .mobile-navbar{
    display: block;
  }

  .info-mobile-state{
    display: none;
  }
}
