<div class="page-title">
  <h4>
    <a routerLink="/categories">Categories</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Add' : 'Edit'}} Category
  </h4>
  <span>
    <button class="btn btn-small red" (click)="deleteCategory()"
      *ngIf="!isNew">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="col s12 l6">
    <div class="input-field">
      <input id="name" type="text" 
      formControlName="name"
      [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
      <label for="name">Title</label>
      <span *ngIf="form.get('name').invalid && form.get('name').touched">
        <span *ngIf="form.get('name').error['required']">
          The title of category has not be empty.
        </span>
      </span>
    </div>

    <div>
      <input type="file" class="dnone" 
      #input
      (change)="onFileUpload($event)"/>

      <button type="button" class="waves-effect waves-light btn orange lighten-2 mb2"
      (click)="triggerClick()"
      [disabled]="form.disabled">
        <i class="material-icons left">backup</i>
        Upload image
      </button>
    </div>

    <div>
      <button type="submit" class="waves-effect waves-light btn btn-custom-style"
        [disabled]="form.invalid || form.disabled">
        Save changes
      </button>
    </div>
  </div>

  <div class="col s12 l4 center img-custom-style">
    <img class="responsive-img h200" 
         [src]="imgePreview"
         *ngIf="imgePreview">
  </div>
</form>
<app-positions-form 
    *ngIf="category?._id"
    [categoryId]="category._id">
</app-positions-form>
