<div class="mobile-navbar navbar-fixed">
  <nav>
    <div class="nav-wrapper mobile-barra">
      <a href="javascript:void(0);" class="brand-logo">Newborn</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger" (click)="openMmenu($event)">
        <i class="material-icons">menu</i>
      </a>
      <ul  id="slide-out" class="sidenav" #menu>
        <!--user data-->
        <li>
          <div class="user-view">
            <div class="background">
              <img src="uploads/office.jpg">
            </div>
            <!--a href="#user">
              <img class="circle" src="images/yuna.jpg">
            </a-->
            <a href="#name">
              <span class="white-text name">Newborn</span>
            </a>
            <a href="#email"><span class="white-text email">admin@admin.com</span></a>
          </div>
        </li>
        <!--mobile menu-->
        <li class="bold" *ngFor="let link of links" routerLinkActive="active">
          <a [routerLink]="[link.url]" class="waves-effect waves-orange">
            {{link.name}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<ul class="mobile-state sidenav sidenav-fixed a-sidenav">
    <h4 class="logo-menu">Newborn</h4>
    <li class="bold" *ngFor="let link of links" routerLinkActive="active">
      <a [routerLink]="[link.url]" class="waves-effect waves-orange">
        {{link.name}}
      </a>
    </li>
    
    <li class="bold last">
      <a href="#" class="waves-effect waves-orange" (click)="logout($event)">Logout</a>
    </li>
</ul>

<main class="content">
  <router-outlet></router-outlet>
</main>

<!--Floating button-->
<div class="fixed-action-btn" #floating>
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
      <li>
        <a class="btn-floating green" routerLink="/order">
          <i class="material-icons">assignment</i>
        </a>
      </li>
      <li>
        <a class="btn-floating blue" routerLink="/categories/new">
          <i class="material-icons">list</i>
        </a>
      </li>
  </ul>
</div>

<a id="menu" class="info-mobile-state waves-effect waves-light btn btn-floating">
  <i class="material-icons">info</i>
</a>