<div class="modal-content">
        <div class="row">
          <form class="card col s12" 
            [formGroup]="form" 
            (ngSubmit)="onSubmit()">
            <div class="row card-content">
              <span class="card-title">Create account</span>
              <!--email-->
              <div class="input-field col s12">
                <i class="large material-icons prefix">mail</i>
                <input type="email" id="email" 
                  placeholdaer="Email" 
                  formControlName="email"
                  [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}" />
                <label for="email">Enter your email:</label>
                <span class="helper-text red-text" *ngIf="form.get('email').invalid && form.get('email').touched">
                  <span *ngIf="form.get('email').errors['required']">Email should not be empty.</span>
                  <span *ngIf="form.get('email').errors['email']">Enter correct e-mail address.</span>
                </span>
              </div>
              <!--password-->
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="password" 
                  placeholdaer="Password" 
                  formControlName="pwd"
                  [ngClass]="{'invalid': form.get('pwd').invalid && form.get('pwd').touched}" />
                <label for="password">Enter your password:</label>
                <span class="helper-text red-text" *ngIf="form.get('pwd').invalid && form.get('pwd').touched">
                  <span *ngIf="form.get('pwd').errors['required']">Password should not be empty.</span>
                  <span *ngIf="form.get('pwd').errors['minlength'] && form.get('pwd').errors['minlength']['requiredLength']">
                    Password must be mores than {{form.get('pwd').errors['minlength']['requiredLength']}} symbol.
                    Now {{form.get('pwd').errors['minlength']['actualLength']}} symbol.
                  </span>
                </span>
              </div>
            </div>
            <div class="card-action">
              <button type="submit" class="modal-action btn waves-effect" 
               [disabled]="form.invalid || form.disabled">Create</button>
            </div>
          </form>
        </div>
      </div>