<nav>
  <div class="nav-wrapper mobile-barra">
      <a href="#" class="brand-logo">Newborn</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li routerLinkActive="active">
            <a routerLink="/login">Sign in</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/registr">Registr</a>
          </li>
      </ul>
  </div>
</nav>

<div class="auth-block">
  <router-outlet></router-outlet>
</div>