<div *ngIf="positions$ | async as positions; else loader">
  <table class="highlight" *ngIf="positions.length !== 0; else empty">
    <thead>
    <tr>
        <th>Title</th>
        <th>Cost</th>
        <th>Number</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
      <tr *ngFor="let position of positions">
          <td>{{position.name}}</td>
          <td>{{position.cost}} eur.</td>
          <td>
              <div class="input-field inline order-position-input">
                  <input type="number" value="1" min="1" [(ngModel)]="position.quantity">
              </div>
          </td>
          <td>
              <button class="btn waves-effect wavers-light btn-small"
                [disabled]="!position.quantity"
                (click)="addToOrder(position)">Add</button>
          </td>
      </tr>
    </tbody>
  </table>
  <ng-template #empty>
    <div class="center">There are no positions yet.</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>