<div class="page-title">
  <h4 *ngIf="isRoot">Order</h4>
  <h4 *ngIf="!isRoot">
    <a routerLink="/order">Order</a>
    <i class="material-icons">keyboard_arrow_right</i>
    Add products
  </h4>
  <button class="waves-effect btn grey darken-1"
          (click)="onOpen()"
          [disabled]="order.list.length === 0">
          Complete
  </button>
</div>

<router-outlet></router-outlet>

<div #modal class="modal modal-fixed-footer">
<div class="modal-content">
    <h4 class="mb1">Your Order</h4>
    <table class="highlight">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of order.list">
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.cost}} eur.</td>
                <td><i class="material-icons pointer" (click)="removePosition(item)">delete</i></td>
            </tr>
        </tbody>
    </table>
    <div class="order-summary">
        <p>Total <strong>{{order.price}} eur.</strong></p>
    </div>
</div>
<div class="modal-footer">
    <button class="modal-action waves-effect waves-black btn-flat"
            (click)="onCansel()"
            [disabled]="pending">Cansel</button>
    <button class="modal-action btn waves-effect"
            (click)="onConfirm()"
            [disabled]="order.list.length === 0 || pending">Confirm</button>
</div>
</div>