<div class="row">
  <div class="col s12">
      <div class="page-subtitle">
          <h4>Position:</h4>
          <button class="waves-effect waves-light btn grey darken-1 btn-small"
          (click)="onAddPosition()">
              Add position
          </button>
      </div>

    <div *ngIf="!loading; else loader">
      <div class="collection" *ngIf="positions.length !== 0; else empty">
          <a class="collection-item collection-item-icon"
          *ngFor="let position of positions"
           (click)="onSelectPosition(position)">
              <span>
                  {{position.name}} <strong>{{position.cost}} eur.</strong>
              </span>
              <span>
                  <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
              </span>
          </a>
      </div>
      <ng-template #empty>
          <div class="center">There are no positions in categories</div>
      </ng-template>
    </div>
    <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()"> 
    <div class="modal" #modal>
    <div class="modal-content">
        <h4 class="mb1">Add position</h4>
        <div class="input-field">
            <input id="pos-name" 
                   type="text" 
                   formControlName="name"
                   [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
            <label for="pos-name">Title</label>
            <span class="helper-text red-text"
                  *ngIf="form.get('name').invalid && form.get('name').touched">
                <span *ngIf="form.get('name').error['required']">
                    The title of category has not be empty.
                </span>
            </span>
        </div>
        <div class="input-field">
            <input id="pos-cost" 
                   type="number" 
                   min="1"
                   formControlName="cost"
                   [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}">
            <label for="pos-cost">Price</label>
            <span class="helper-text red-text"
                  *ngIf="form.get('cost').invalid && form.get('cost').touched">
                <span *ngIf="form.get('cost').error['required']">
                    Put correct price. Minimum number is 1.
                </span>
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" 
                class="modal-action waves-effect waves-black btn-flat"
                [disabled]="form.disabled"
                (click)="onCancel()">Cansel</button>
                
        <button type="submit"
                class="modal-action btn waves-effect"
                [disabled]="form.invalid || form.disabled" 
                (click)="onSubmit()">Save</button>
    </div>
    </div>
</form>